bidict==0.21.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
dnspython==1.16.0
eventlet==0.31.0
Flask==2.0.1
Flask-SocketIO==3.1.2
gevent==21.1.2
greenlet==1.1.0
idna==2.10
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycparser==2.20
PyJWT==2.1.0
python-engineio==3.14.2
python-socketio==4.6.1
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==2.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
