<html>
<head>
</head>

<body>
<div><a href="/"><button>HOME</button></a></div>
<br><br>
{% if r == True %}
<p style="color:green">Password changed</p>
{% elif r == False %}
<p style="color:red">Something went wrong!</p>
{% endif %}

<label>Change Password</label>
<div>
<form method="post" action="/chg_password">
<input type="password" name="old_password" placeholder="old password">
<input type="password" name="new_password" placeholder="new password" >
<input type="submit" value="change">
</form>
</div>

</body>

</html>
